mark {
  background-color: rgb(255, 25, 25);
  color: rgb(255, 255, 255);
}
p {
  text-align: center;
  font-size: 25px;
}
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Brush Script MT', cursive"
  }